{% extends 'frmqueja/base.html' %}
{% block content %}
    <form method="POST" id="quejaForm" data-muni-url="{% url 'queja:carga_muni' %}">
        {% csrf_token %}
        <h2>Añadir una nueva Queja</h2>
        <a href="/sucursal/comercio" class="button">Nuevo Comercio</a>
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">GUARDAR</button>
    </form>

   <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        $("#id_id_depto").change(function () {
            const url = $("#quejaForm").attr("data-muni-url");  // get the url of the `load_cities` view
            const deptoId = $(this).val();  // get the selected country ID from the HTML input

            $.ajax({                       // initialize an AJAX request
                url: url,                    // set the url of the request (= /persons/ajax/load-cities/ )
                data: {
                    'depto_id': deptoId       // add the country id to the GET parameters
                },
                success: function (data) {   // `data` is the return of the `load_cities` view function
                    $("#id_id_muni").html(data);  // replace the contents of the city input with the data that came from the server
                    /*

                    let html_data = '<option value="">---------</option>';
                    data.forEach(function (city) {
                        html_data += `<option value="${city.id}">${city.name}</option>`
                    });
                    console.log(html_data);
                    $("#id_city").html(html_data);

                    */
                }
            });

        });
    </script>

{% endblock %}